:root {
    --mainBackground: hsl(233, 47%, 7%);
    --cardBackground: hsl(244, 38%, 16%);
    --accent:  hsla(277, 64%, 61%, 0.978);
    --white: hsl(0, 0%, 100%);
    --mainParagraph: hsla(0, 0%, 100%, 0.75);
    --statHeading: hsla(0, 0%, 100%, 0.6);
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    background-color: var(--mainBackground);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, .stat-number {
    font-weight: bold;
    color: var(--white);
}

h1 {
    font-size: 2em;
    margin-bottom: 0.8em;
}

.card-text {
    margin: 1.8em 0;
}

p {
    color: var(--mainParagraph);
    line-height: 1.6;
    margin-top: 1.5em;
}

.stat-text {
    margin-top: 0;
    font-size: 0.775rem;
}

.container {
    width: 62%;
    display: flex;
    background-color: var(--cardBackground);
    border-radius: .3em;
}

section {
    width: 50%;
}

.card-info {
    padding: 3.5em;
}

img {
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.card-image {
    border-top-right-radius: .3em;
    border-bottom-right-radius: .3em;
    background:var(--accent);
    overflow: hidden;
}

.stats-container {
    display: flex;
    justify-content: space-around;
}

.stat {
    margin-right: 1em;
}

.accent {
    color: var(--accent);
}

@media (max-width: 850px) {
    .container {
        flex-direction: column-reverse;
        text-align: center;
    }

    h1 {
        font-size: 1.5em;
    }

    section {
        width: 100%;
    }

    .card-info {
        padding: 2em;
    }

    .stats-container {
        flex-direction: column;
        align-items: center;
        
    }

    .card-image {
        border-bottom-right-radius: 0;
        border-top-left-radius: .3em;
    }
}